fastapi
uvicorn[standard]
scikit-learn
pandas
numpy
joblib
python-multipart
reportlab
onnx 
skl2onnx 
tensorflow
onnx_tf
tensorflow-probability
m2cgen


#pip install -r demo_requirements.txt

#for running:
#uvicorn main:app --reload